{%include "header.html"%}

<section class="aboutUs">
<div class="about">
    <h1>About Us</h1>
    <h3>
        <p>
            Lucas modelling house is a fast raising model agency in calabar and Akwa Ibom. That is aim at creating young models in Nigeria to meet international standard and recognize.
LMH started as a sub session of Grandure model Africa in 2019, and also run scout for BethmodelAfrica to some extent. </p>
<p> Over the years LMH have have received several awards, national and international, also being recognized by The people catwalk(Lagos), Runway tribe(Lagos), Calabar Fashion week (Calabar), uyo Fashion week (uyo), fashion finest event (Lagos).
</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto suscipit neque ea laborum amet eligendi velit ab quasi hic modi provident dolor reiciendis molestiae, minima nemo nostrum ad eveniet!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fuga illum, sunt quos dolorem maxime quia aperiam ut aliquid adipisci odio facere dolores fugiat, corporis deserunt suscipit rerum distinctio amet.
    </p>
</h3>
</div>
</section>