


{%include "header.html"%}
 
   <!-- carousel of models  -->
<section id="achievements">
  <div id="carouselExampleControls" class="carousel " data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active container">
        <div class="carouselImage row">
          <div class="col-7">
            <img  src="{{url_for('static',filename='img/LMH.jpg')}}" class="d-block " alt="...">
          </div>
          <div class="col-5">
            <img src="{{url_for('static',filename='img/_MG_3269.jpg')}}" alt="">
          </div>
      </div>
      </div>
      <div class="carousel-item container">
        <div class="carouselImage row">
          <div class="col-7">
        <img src="{{url_for('static',filename='img/black_culture.jpg')}}" class="d-block faultless" alt="...">
          </div>
          <div class="col-5">
            <img src="{{url_for('static',filename='img/Black_girl.jpg')}}"  alt="...">
          </div>
        </div>
        <!-- <div class="carousel-caption second">
          <h1>
              For the Couture
          </h1>
        </div> -->
      </div>
      <div class="carousel-item container">
        <div class="carouselImage row">
          <div class="col-7">
            <img src="{{url_for('static',filename='img/lucas_grad.jpg')}}"  alt="...">
          </div>
          <div class="col-5 nti">
        <img src="{{url_for('static',filename='img/ntishor.jpg')}}"  alt="...">
        </div>
        </div>
       
        <div class="carousel-caption ">
          <h1 >
            <!-- Let help you be the best model you can be -->
          </h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

  <!-- call for models -->
  <div class="model-call">
    <img src="" alt="background">
    <h3 class="model_message"> Become a model message <span><button href="{{url_for('models')}}">Become a model</button></span></h3>
  </div>
  <!-- Call to social action -->
  <div class="social">
  <a href="https://www.instagram.com/official_lucas_modeling_house/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
  <a href="https://www.facebook.com/profile.php?id=100068527156344"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
  <a href="http://"><i class="fa-solid fa-envelope fa-2xl"></i></a>
  <a href="http://"><i class="fa-brands fa-tiktok fa-2xl"></i></a>
  <a href="http://"><i class="fa-brands fa-youtube fa-2xl"></i></a>
</div>

