

{%include "header.html"%}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- start for loop here -->
        
        {% for model in model_list%}
        <div class="col">
          <div class="card shadow-sm">
            {%for name in image%}
            <img width="auto" height="auto" src="static\\img\\model\\{{model}}\\{{name}}" alt="">
            {%endfor%}
            <div class="card-body">
             <a href="{{url_for('template',name=model)}}"> {{model}}</a>
          </div>
          </div>
        </div>
          {%endfor%}